.banner {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 250px 250px;
    gap: 1px;

    .banner-items {
        position: relative;

        &:first-child {
            grid-row: 1/3;
        }

        .card-details {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            color: white;
            padding: 30px;
            @include d-flex($direction: column, $align-items: flex-start, $justify-content: end, $gap: 5px);

            .category {
                background-color: $primary-color;
                padding: 2px 10px;
                border-radius: 1px;
                @include font($size: 12px, $family: $heading-font, $transform: uppercase, $color: white);
            }

            .card-title {
                @include font($size: 33px, $family: $heading-font, $weight: 600, $color: white, $height: 44px);

            }

            .author-date {
                @include font($size: 14px, $family: $general-font, $color: rgb(192, 192, 192));
            }
        }
    }
}

.trending-card {
    img {
        height: 250px;

        &:hover {
            opacity: 0.9;
        }
    }

    .card-title {
        @include font($size: 21px, $family: $heading-font, $weight: 600, $color: $general-color , $height: 29px);
        margin: 10px 0px;

        &:hover {
            color: $primary-color;
        }

    }

    time {
        @include font($size: 14px, $family: $general-font, $color: #8a8a8a, $height: 20px);
    }
}

.editor-picks {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 30px;
    .news-list{
        ul{
            li{
                margin-bottom: 25px;
                padding-bottom: 25px;
                border-bottom: 1px solid rgb(174, 174, 174);
                &:last-child{
                    margin-bottom: 0;
                    padding-bottom: 0;
                    border-bottom: none;
                }
            }
        }
    }
}

.news-list-card {
    display: flex;
    gap: 20px;

    img {
        width: 250px;
        height: 160px;
    }

    .news-details {
        .category {
            @include font($size: 14px, $family: $heading-font, $color: $primary-color, $height: 20px, $weight: 600, $transform: uppercase);

        }

        .news-title {
            @include font($size: 21px, $family: $heading-font, $weight: 600, $color: $general-color , $height: 29px);
            margin: 10px 0px;

        }
        .author-details{
        @include font($size: 12px, $family: $general-font, $color: #8a8a8a, $height: 20px);
            span{
                color: $general-color;
            }
            i{
                margin-left: 20px;
            }
        }
    }
}

.card-wrapper{
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: sticky;
    top: 20px;
}

.CES-section{
    .grid-wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 40px;
        .card-items {
            position: relative;
            grid-column: 1/4;
            border-radius: 10px;
            height: 550px;
            .card-details {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                color: white;
                padding: 30px;
                @include d-flex($direction: column, $align-items: flex-start, $justify-content: end, $gap: 5px);
    
                .category {
                    background-color: $primary-color;
                    padding: 2px 10px;
                    border-radius: 1px;
                    @include font($size: 12px, $family: $heading-font, $transform: uppercase, $color: white);
                }
    
                .card-title {
                    @include font($size: 33px, $family: $heading-font, $weight: 600, $color: white, $height: 44px);
    
                }
    
                .author-date {
                    @include font($size: 14px, $family: $general-font, $color: rgb(192, 192, 192));
                }
            }
        }
    }
}